@import url('https: //fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Class selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
}

main img {
    float: right;
}

aside h2 {
    position: relative;
    top: 10;
    left: 20;
}

:root {
    --primary-color: #80ED99;
    --seconday-color: #57CC99;
    --accent1-color: #38A3A5;
    --accent2-color: #22577A;
    --heading-font: 'Arial Black', serif;
    --paragraph-font: 'Arial Black', serif;
    --nav-background-color: #22577A;
    --nav-link-color: #C7F9CC;
    --nav-hover-link-color: #00AFB9;
    --nav-hover-background-color: #0081A7;
}

body {
    font-family: Arial;
    max-width: 960px;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: #38A3A5;
}

p {
    padding: 25px;
}

nav {
    background-color: #22577A;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: #0081A7;
}