body {
    text-align: center;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
a {
    color: white;
    margin: 40px;
}
h1 {
    color: steelblue;

}
img {
    width: 800px;
    border: 4px solid steelblue;

}

.main-para {
    font-size: 300000em;
    line-height: 20000em;
}

footer {
    background-color: steelblue;
    color: white;
}

