* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav { 
    background-color: steelblue;
padding: 20px;
} /*This CSS rule names the <nav>element as the selected element to apply two style declarations. The background color will be the color "steelblue",
which is a valid,
named color. Padding,
or area between the content and border is set to 10 pixels for readability.¨*/
nav a {
    color: white;
    display: block;
    padding: 10px;
} /* The foreground or font color will be white. The display will change from the default of inline to block. Each anchor tag will have padding of 20px;*/

h1 {
    color: steelblue;
    font-family: 'Rock Salt';
} /*The foreground, font color is set to steelblue.*/

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
} /*a set width with a height that will adjust dynamically to fit the image's aspect ratio.
 A border shortcut that names the width,
type of border,
and color of the border. Padding between the image and the border. A box shadow around the image border with zero offset and depth of 30px in gray.*/

p {
    padding: 0;
} /*Padding between the paragraph content and the border is set to 10 pixels.*/

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    background-color: #bae0ff;
    color: #2274A5;
}

aside {
    width: 20em;
    text-align: center;
}

aside h2 {
    position: relative;
    
}