* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*header {
}*/

/*This CSS rule names the <nav>element as the selected element to apply two style declarations. The background color will be the color "steelblue",
which is a valid,
named color. Padding,
or area between the content and border is set to 10 pixels for readability.¨*/
nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 700;    
    font-size: 1.2rem;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
/* The foreground or font color will be white. The display will change from the default of inline to block. Each anchor tag will have padding of 20px;*/

h1 {
    color: steelblue;
    font-family: 'Rock Salt';
    border-bottom: 5px solid rgb(255, 0, 200);
    grid-area: 1;
}
/*The foreground, font color is set to steelblue.*/
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83;
    margin-block-end: 0.83;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    width: min-content;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    border-radius: 10px;
}

/*a set width with a height that will adjust dynamically to fit the image's aspect ratio.
 A border shortcut that names the width,
type of border,
and color of the border. Padding between the image and the border. A box shadow around the image border with zero offset and depth of 30px in gray.*/

p {
    padding: 0;
}

/*Padding between the paragraph content and the border is set to 10 pixels.*/

/*main {
} */

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row: 1;
    display: block;
}

aside h2 {
    position: absolute;
    top: 55px;
    left: 155px;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

main {
    grid-column: 2;
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}

/*Class Selectors*/
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

div {
    display: block;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
    display: grid;

}